.place__title{
  margin: 0 auto;
  width: calc(100% - 32px);
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: #FFFFFF;  
}
@media screen and (min-width: 768px) {
  .place__title{
    width: 100%;
    font-size: 42px;
    line-height: 1.1;
   }
}
@media screen and (min-width: 1024px) {
  .place__title{
    font-size: 72px;
    line-height: 1.06;
  }
}