.lead{
  width: 100%; 
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .lead{
    width: 928px;
  }
}
@media screen and (min-width: 1280px) {
  .lead{
    width: 984px;
    padding-left: 112px;
    padding-right: 184px;
  }
}