.place__website-link{
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
}
.place__website-link:hover{
  opacity: 0.8;
}