.cover__title-link{
  width: 100vw;
  min-height: 62.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
  position: relative;
}
.cover__title-link::before {
  background-color: #2A2C2F;
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cover__title-link:hover::before {
  opacity: 0.75;
}
@media screen and (min-width: 1280px) {
  .cover__title-link{
    width: 100%;
    min-height: 740px;
  }
}